/* <!-- NAV-HEADER --> */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.header {
    background-color: black;
    padding: 30px;
}

.nav, ul, li{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    list-style-type: none;
}

ul, li, a {
    color: white;
    text-decoration: none;
}

/* SECTIONS FIRST */

.section-first {
    background-image: url(https://celes.club/uploads/posts/2022-05/1652522932_5-celes-club-p-vot-blits-art-krasivo-6.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    z-index: 1;
    height: 500px;
}

.title-text {
    background-color: azure;
    text-align: center;
    max-width: 500px;
    width: 100%;
    opacity: 0.6;
    gap: 10px;
    font-size: 50px;
}

.title {
    display: flex;
    justify-content: center;
    padding-top: 150px;
}

.title-text h1 {
    color: brown;
    
}

/* SECTIONS SECOND */ 

.wg {
    width: 100%;
}

.wg-center {
    display: flex;
    justify-content: center;
}

.wg-img img {
    width: 100%;
    max-width: 200px;
    gap: 10px;
}

.wg-img {
    display: flex;
    gap: 100px;
}

.wg-img img a {
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
}

.wg-question {
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
}

.wot {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

/* <!-- SECTION THIRD --> */

.section-third {
    background-color: black;
    padding: 40px 0px;
}

.table {
    display: flex;
    justify-content: center;
    align-items: center;
}

table, tr, td {
    border: solid white 1px;
    color: white;
    text-align: center;
}

table {
    max-width: 400px;
    width: 100%;
}

table img {
    width: 30px;
    display: inline;
}

.title-table {
    color: white;
    text-align: center;
    padding: 10px 0px;
}